body {
  background-color: lightgrey;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 40% 60%;
  height: 100vh;
}

span {
  font-style: italic;
}

.logo {
  margin-top: 300px;
  background-color: #000000b3;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
}

.left {
  background-image: url(https://images.unsplash.com/photo-1530543591690-29750de55028?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.right .content {
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 3rem;
}

.form {
  padding: 3rem;
}

.form p {
  padding-bottom: 6rem;
  margin-top: 1.5rem;
}

button {
  margin-top: 1rem;
}
