@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Syne', sans-serif; */

body {
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
  height: 100vh;
  line-height: 1.4;
  transition: background-color 1s ease;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.content {
  width: 50%;
  /* padding: 100px; */
}

button {
  margin-bottom: 20px;
}

p,
h1 {
  margin-bottom: 8px;

}

p {
  font-family: 'Syne', sans-serif; 
  font-size: 40px;
}

h1 {
  font-family: 'Inter', sans-serif;
  text-align: right;
}