@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Syne', sans-serif; */

body {
  background-color: whitesmoke;
  height: 100vh;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px red;
  height: 100vh;

}

.content {
  border: solid 1px blue;
  background-color: lightblue;
  width: 60%;
  padding: 200px;
}