@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* font-family: 'Manrope', sans-serif; */

:root {
  /* colors  */
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-desat-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);

  /* font */
  --desktop-header-copy: 36px;
  --desktop-body-copy: 18px;
  --mobile-header-copy: 18px;
  --mobile-body-copy: 13px;

  --font-manrope: 'Manrope', sans-serif;

}

body {
  font-family: var(--font-manrope);
  line-height: 1.4;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(219, 239, 240, 0.884);
}

/* flex and center */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.container {
  margin: 3em 2em;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* height: 360px; */
}
.container-image {
  background: #ffffff url("/images/drawers.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* height: 500px; */
  height: 360px;
  /* height: 415px; */
  object-fit: cover;
}

.container-content {
  padding: 2em;
  background-color: white;
}

h2.headline {
  color: var(--dark-gray-blue);
  font-size: 1.7em;
  font-weight: 700;
}

p.content {
  color: var(--dark-desat-blue);
  font-size: 1em;
  font-weight: 500;
  margin: 16px 0;
}

div.container-author {
  display: flex;
  justify-content: space-between;
}

.author {
  display: flex;
}

.headshot-author {
  border-radius: 50%;
  width: 80px;
  margin-right: 16px;
}

.info-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-author {
  color: var(--dark-gray-blue);
  font-weight: 700;
}

.date-author {
  color: var(--dark-desat-blue);

}

.btn-author {
  align-self: center;
}

/* mobile  */
@media (max-width: 812px) {
  section.container {
    flex-wrap: wrap;
  }
}