section {
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1200px;
}

.game-container {
  display: flex;
  justify-content: space-around;
}

.player-container {
  padding: 2%;
}

a {
  text-decoration: none;
}

#player-choices div a {
  font-size: 3rem;
  display: inline-block;
  margin-top: 8%;
  margin-left: 16px;
}

#computer-selection {
  font-size: 3rem;
  display: inline-block;
  margin-top: 8%;
  margin-left: 16px;
}
